@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900);

:root {
    --white-text-color: white;
    --highlight-color: #6fd1bd;
    --hover-color: #fa8072;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: #333;
    font-size: 1rem;
    font-family: Lato, Helvetica, Arial, sans-serif;
    font-weight: normal;
    line-height: 1.5;
    letter-spacing: .008em;
}

h2,
h3 {
    color: black;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 18px;
}


.viewers-count {
    text-align: center;
}

.viewers-count-tag {
    text-align: center;
    color: #11ABB0;
    font-weight: 600;
}

.wrapper {
    max-width: 80%;
    margin: 0 auto;
}

.section-profile-h1 {
    font-size: 56px;
    font-family: Lato, 'Open Sans', Helvetica, Arial;
    font-weight: 900;
    width: 100%;
    margin-top: 2.25rem;
    text-align: center;
}

.section-container {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #ddd;
    padding: 1rem 0rem;
}

.section-container>h2 {
    display: block;
    min-width: 25%;
    max-width: auto;
}

.section-content {
    display: block;
    max-width: 80%;
    color: black;
}

.section-container ul {
    list-style-position: outside;
    padding-left: 1.2rem;
}

.section-container .section-exp {
    padding-bottom: 1rem;
}

.section-container .section-exp ul {
    padding-top: 1rem;
}

.section-container a {
    color: black;
    text-decoration: underline var(--highlight-color) 2px;
}

.section-container a:hover {
    text-decoration: underline var(--hover-color) 2px;
}


footer {
    max-width: 80%;
    margin: 0 auto;
    padding: 0;
    padding-bottom: 2rem;
    box-sizing: border-box;
}

footer ul li {
    list-style: none;
    display: block;
    padding: 10px 10px;
}

footer a {
    color: black;
    text-decoration: none;
}

footer .footer-container ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.header-container{
    border-bottom: 1px solid #ddd;
}

footer .fa-brands,
.fa-solid {
    padding-right: 10px;
}

footer li:hover {
    text-decoration: underline var(--hover-color) 2px;
}

.section-education{
    padding-bottom: 50px;
}